@import '../../App.module';

%branch-font {
  margin-left: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.branch {
  margin-left: 30px;
  user-select: none;

  .branchItem {
    display: flex;
    height: 20px;
    width: 180px;
    background-image: linear-gradient(to right, #8e9eab 0%, #eef2f3 51%, #8e9eab 100%);
    padding: 10px;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    box-shadow: 0 0 20px #eee;
    cursor: pointer;

    &:hover {
      background-position: right center; /* change the direction of the change here */
      color: dimgray;
      text-decoration: none;
    }

    .button {
      width: 20px;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      font-size: 18px;
      vertical-align: center;
      text-align: center;
    }

    .branchName {
      @extend %branch-font;
    }

    .branchPathName {
      @extend %branch-font;
      color: white;
    }
  }
}



